<h5 class="menubar">

	<b>Manage Lending</b>


	<div class="pull-right" style="margin-right: 10px">


		<a href="" ng-click="clearWorkSpace();"><i class=" fa fa-close"
			data-toggle="tooltip" data-placement="bottom" title="Add"></i></a>

	</div>

</h5>
<div ng-if="showLendingList" class="col-sm-4"
	ng-include="'templates/Lending/Lending.html'"
	ng-controller="LendingCtrl"></div>

<div ng-if="showLendingForm" class="col-sm-4"
	ng-include="'templates/Lending/Lending.html'"
	ng-controller="LendingCtrl" onload="loadLendingForm(lendingEditMode)"></div>
<div ng-if="showLawyerList" class="col-sm-4"
	ng-include="'templates/Lending/Lawyer.html'" ng-controller="LawyerCtrl"></div>

<div ng-if="showLawyerForm" class="col-sm-4"
	ng-include="'templates/Lending/Lawyer.html'" ng-controller="LawyerCtrl"
	onload="loadLawyerForm(lawyerEditMode)"></div>
<div ng-if="showBookList" class="col-sm-4"
	ng-include="'templates/Lending/Book.html'" ng-controller="BookCtrl"></div>

<div ng-if="showBookForm" class="col-sm-4"
	ng-include="'templates/Lending/Book.html'" ng-controller="BookCtrl"
	onload="loadBookForm(bookEditMode)"></div>
<div ng-if="showBookAuthorList" class="col-sm-4"
	ng-include="'templates/Lending/BookAuthor.html'"
	ng-controller="BookAuthorCtrl"></div>

<div ng-if="showBookAuthorForm" class="col-sm-4"
	ng-include="'templates/Lending/BookAuthor.html'"
	ng-controller="BookAuthorCtrl"
	onload="loadBookAuthorForm(bookAuthorEditMode)"></div>
