<h5 class="menubar">

	<b>Manage Book</b>


	<div class="pull-right" style="margin-right: 10px">


		<a href="" ng-click="clearWorkSpace();"><i class=" fa fa-close"
			data-toggle="tooltip" data-placement="bottom" title="Add"></i></a>

	</div>

</h5>


<a href="" ng-click="getBookDetailedList();"><i class=" fa fa-plus"
	data-toggle="tooltip" data-placement="bottom" title="Add"></i> Add
	Books</a>

</br>

<a href="" ng-click="getAuthorDetailedList();"><i
	class=" fa fa-plus" data-toggle="tooltip" data-placement="bottom"
	title="Add"></i> Add Authors</a>


<!--<div class="col-lg-12" ng-if="showBookSetupTopNav" ng-include="'templates/Setup/BookSetupWorkspaceTopNav.html'" ></div>-->


<div ng-if="showBookList" class="col-sm-12"
	ng-include="'templates/Setup/Book.html'" ng-controller="BookCtrl"></div>

<div ng-if="showBookForm" class="col-sm-12"
	ng-include="'templates/Setup/Book.html'" ng-controller="BookCtrl"
	onload="loadBookForm(bookEditMode)"></div>

<div ng-if="showAuthorList" class="col-sm-12"
	ng-include="'templates/Setup/Author.html'" ng-controller="AuthorCtrl"></div>

<div ng-if="showAuthorForm" class="col-sm-12"
	ng-include="'templates/Setup/Author.html'" ng-controller="AuthorCtrl"
	onload="loadAuthorForm(authorEditMode)"></div>


<div ng-if="showBookAuthorList" class="col-sm-12"
	ng-include="'templates/Setup/BookAuthor.html'"
	ng-controller="BookAuthorCtrl"></div>

<div ng-if="showBookAuthorForm" class="col-sm-12"
	ng-include="'templates/Setup/BookAuthor.html'"
	ng-controller="BookAuthorCtrl"
	onload="loadBookAuthorForm(bookAuthorEditMode)"></div>
