<h5 class="menubar">

	<b>Manage Employees</b>


	<div class="pull-right" style="margin-right: 10px">


		<a href="" ng-click="clearWorkSpace();"><i class=" fa fa-close"
			data-toggle="tooltip" data-placement="bottom" title="Add"></i></a>

	</div>

</h5>
<div ng-if="showLawyerList" class="col-sm-12"
	ng-include="'templates/Setup/Lawyer.html'" ng-controller="LawyerCtrl"></div>

<div ng-if="showLawyerForm" class="col-sm-12"
	ng-include="'templates/Setup/Lawyer.html'" ng-controller="LawyerCtrl"
	onload="loadLawyerForm(lawyerEditMode)"></div>
