<div class="col-lg-12" ng-if="showLawyerList"
	style="margin-bottom: 20px;">

	<h5 class="menubar">

		Lawyer List




		<div class="pull-right" style="margin-right: 10px">


			<a href="" ng-click="setShowAddLawyerForm();"><i
				class=" fa fa-plus" data-toggle="tooltip" data-placement="bottom"
				title="Add"></i></a>


		</div>

	</h5>
	<!--
                    <div class="row" style ="padding-bottom: 5px">

                      <form  class="smart-form">
                      <fieldset>

                       <div class="row">
                       <section class="col col-6">
                         <label class="label">Search: </label>
                         <label class="input">
                         <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                       </section>

                       <section class="col col-6">
                         <label class="label">Items per page: </label>
                         <label class="input">
                         <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeLawyer">
                       </section>
                     </div>
                     </fieldset>
                   </form>


                </div>
-->
	<table class="table  table-hover"
		style="margin-top: 10px; padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px;">
		<thead>
			<tr>
				<th></th>
				<th><a href=""
					ng-click="sortLawyer('lawyer.firstName',lawyerReverse)"> First
						Name <span class="glyphicon sort-icon"
						ng-show="sortKeyLawyer=='lawyer.firstName'"
						ng-class="{'glyphicon-chevron-up':lawyerReverse,'glyphicon-chevron-down':!lawyerReverse}"></span></th>
				<th><a href="" ng-click="sortLawyer('firm.firm',lawyerReverse)">
						Firm <span class="glyphicon sort-icon"
						ng-show="sortKeyLawyer=='firm.firm'"
						ng-class="{'glyphicon-chevron-up':lawyerReverse,'glyphicon-chevron-down':!lawyerReverse}"></span></th>
				<th><a href=""
					ng-click="sortLawyer('branch.branch',lawyerReverse)"> Branch <span
						class="glyphicon sort-icon"
						ng-show="sortKeyLawyer=='branch.branch'"
						ng-class="{'glyphicon-chevron-up':lawyerReverse,'glyphicon-chevron-down':!lawyerReverse}"></span></th>
				<th><a href=""
					ng-click="sortLawyer('branch.branch',lawyerReverse)">
						Membership Type <span class="glyphicon sort-icon"
						ng-show="sortKeyLawyer=='branch.branch'"
						ng-class="{'glyphicon-chevron-up':lawyerReverse,'glyphicon-chevron-down':!lawyerReverse}"></span></th>
				<th><a href=""
					ng-click="sortLawyer('branch.branch',lawyerReverse)"> Books
						Allowed <span class="glyphicon sort-icon"
						ng-show="sortKeyLawyer=='branch.branch'"
						ng-class="{'glyphicon-chevron-up':lawyerReverse,'glyphicon-chevron-down':!lawyerReverse}"></span></th>
				<!-- <th>Image</th> -->
			</tr>
		</thead>

		<thead>

			</tr>
		</thead>

		<tbody>
			<tr
				dir-paginate="lawyer in lawyers| orderBy:sortKeyLawyer:lawyerReverse | filter:q | itemsPerPage: pageSizeLawyer "
				current-page="currentPageLawyer" pagination-id="lawyer"
				ng-class="lawyer.id==lawyerId?'info' : ''">
				<td><div class="">
						<a href="" ng-click="setShowEditLawyerForm(lawyer.id);"><i
							class=" glyphicon glyphicon-pencil" data-toggle="tooltip"
							data-placement="bottom" title="Edit"><i></a>
					</div></td>

				<td><span once-text="lawyer.lawyer.firstName"></span></td>
				<td><span once-text="lawyer.firm.firm"></span></td>
				<td><span once-text="lawyer.branch.branch"></span></td>
				<td><span once-text="lawyer.membershipType.membershipType"></span></td>
				<td><span once-text="lawyer.noOfBooksAllowed"></span></td>

				<!--   <td><img src ="{{imgURLLawyer}}{{lawyer.id}}" style="max-height:120px;max-width=100%;object-fit: contain"  width="100%"></td> -->
			</tr>
		</tbody>
	</table>

	<div style="padding-top: 0px; margin-top: 10px">
		<dir-pagination-controls boundary-links="true"
			on-page-change="pageChangeHandler(newPageNumber)"
			style="margin:0px;padding:0px"
			template-url="templates/dirPagination.tpl.html"
			pagination-id="lawyer"></dir-pagination-controls>
	</div>

</div>

<div ng-if="showLawyerForm" class="col-lg-12"
	style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;">
	<form id="LawyerAdd" class="smart-form">

		<h5 class="menubar">

			{{buttonTextLawyer}} Lawyer


			<div class="pull-right" style="margin-right: 10px">


				<a href="" ng-click="hideLawyerEditForm(lawyer.id);"><i
					class=" fa fa-close" data-toggle="tooltip" data-placement="bottom"
					title="Add"></i></a>

			</div>

		</h5>


		<fieldset style="background: transparent;">


			<div class="row">
				<section>
					<label class="label">Lawyer: </label> <label class="select">
						<select ng-model="lawyer.lawyer.id"
						ng-options="person.id as (person.firstName) for person in persons">
							<option></option>
					</select> <i></i>
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">Firm: </label> <label class="select">
						<select ng-model="lawyer.firm.id"
						ng-options="firm.id as (firm.firm) for firm in firms">
							<option></option>
					</select> <i></i>
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">Branch: </label> <label class="select">
						<select ng-model="lawyer.branch.id"
						ng-options="branch.id as (branch.branch) for branch in branchs">
							<option></option>
					</select> <i></i>
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">Membership Type: </label> <label
						class="select"> <select
						ng-model="lawyer.membershipType.id"
						ng-options="membershipType.id as (membershipType.membershipType) for membershipType in membershipTypes">
							<option></option>
					</select> <i></i>
					</label>
				</section>
			</div>
			<!--
  <div class="row">
        <section>
        <label class="label">Image: </label>
        <label class="input">
        <input class="btn " type = "file" imagemodel = "myFile"  /></label>
        </section>
        </div> -->

		</fieldset>

		<div>
			<button type="button" class="btn btn-primary"
				ng-click="saveLawyer(lawyer);">Save</button>
			<button type="button" class="btn btn-default"
				ng-click="hideLawyerEditForm(lawyer.id);">Close</button>
		</div>
	</form>
</div>
</div>