<h5 class="menubar">

	<b>Manage Membership Type</b>


	<div class="pull-right" style="margin-right: 10px">


		<a href="" ng-click="clearWorkSpace();"><i class=" fa fa-close"
			data-toggle="tooltip" data-placement="bottom" title="Add"></i></a>

	</div>

</h5>
<div ng-if="showMembershipTypeList" class="col-sm-12"
	ng-include="'templates/Setup/MembershipType.html'"
	ng-controller="MembershipTypeCtrl"></div>

<div ng-if="showMembershipTypeForm" class="col-sm-12"
	ng-include="'templates/Setup/MembershipType.html'"
	ng-controller="MembershipTypeCtrl"
	onload="loadMembershipTypeForm(membershipTypeEditMode)"></div>
