<div class="row"
	style="margin-left: 20px; margin-bottom: 20px; margin-top: 40px; margin-right: 25px;">

	</br>
	<div class="row">
		<div class="col-sm-10"></div>
		<div class="col-sm-2">
			<a href="index.html#!/Lending"><i class=" fa fa-tachometer"
				data-toggle="tooltip" data-placement="bottom" title="Add"></i>
				Lending Dashboard</a>
		</div>

	</div>


	<h5 class="menubar">Settings</h5>

	<div class="col-lg-12" ng-if="showSetupLeftNav"
		ng-include="'templates/Setup/SetupLeftNav.html'"></div>

	<div class="col-lg-12" ng-if="showWorkspace"
		ng-include="'templates/Setup/WorkSpace.html'" style="margin-top: 20px"></div>

</div>


