
<ul class="nav nav-pills  red">

	<li ng-class="stuffingPageMode=='3'?'active':''"><a href=""
		ng-click="loadOrgSetupWorkSpace();">Firm</a></li>

	<li ng-class="stuffingPageMode=='2'?'active':''"><a href=""
		ng-click="loadLendingSetupWorkSpace();">Lending</a></li>

	<li ng-class="stuffingPageMode=='1'?'active':''"><a href=""
		ng-click="loadBookCategorySetupWorkSpace();">Book Categories</a></li>



	<li ng-class="stuffingPageMode=='4'?'active':''"><a href=""
		ng-click="loadBookSetupWorkSpace();">Book</a></li>

	<li ng-class="stuffingPageMode=='5'?'active':''"><a href=""
		ng-click="loadMembershipTypeWorkSpace();">Membership</a></li>

	<li ng-class="stuffingPageMode=='6'?'active':''"><a href=""
		ng-click="loadLawyerWorkSpace();">Employees</a></li>



</ul>


