<div class="col-lg-12" ng-if="showBookCategoryList"
	style="margin-bottom: 20px;">

	<h5 class="menubar">

		Book Category List




		<div class="pull-right" style="margin-right: 10px">


			<a href="" ng-click="setShowAddBookCategoryForm();"><i
				class=" fa fa-plus" data-toggle="tooltip" data-placement="bottom"
				title="Add"></i></a> <a href="" ng-click="hideBookCategoryList();"><i
				class=" fa fa-close" data-toggle="tooltip" data-placement="bottom"
				title="Add"></i></a>




		</div>

	</h5>
	<!--
                    <div class="row" style ="padding-bottom: 5px">

                      <form  class="smart-form">
                      <fieldset>

                       <div class="row">
                       <section class="col col-6">
                         <label class="label">Search: </label>
                         <label class="input">
                         <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                       </section>

                       <section class="col col-6">
                         <label class="label">Items per page: </label>
                         <label class="input">
                         <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeBookCategory">
                       </section>
                     </div>
                     </fieldset>
                   </form>


                </div>
-->
	<table class="table  table-hover"
		style="margin-top: 10px; padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px;">
		<thead>
			<tr>
				<th></th>
				<th><a href=""
					ng-click="sortBookCategory('bookCategory',bookCategoryReverse)">
						BookCategory <span class="glyphicon sort-icon"
						ng-show="sortKeyBookCategory=='bookCategory'"
						ng-class="{'glyphicon-chevron-up':bookCategoryReverse,'glyphicon-chevron-down':!bookCategoryReverse}"></span></th>
				<th><a href=""
					ng-click="sortBookCategory('firm.firm',bookCategoryReverse)">
						Firm <span class="glyphicon sort-icon"
						ng-show="sortKeyBookCategory=='firm.firm'"
						ng-class="{'glyphicon-chevron-up':bookCategoryReverse,'glyphicon-chevron-down':!bookCategoryReverse}"></span></th>
				<!-- <th>Image</th> -->
			</tr>
		</thead>

		<thead>

			</tr>
		</thead>

		<tbody>
			<tr
				dir-paginate="bookCategory in bookCategorys| orderBy:sortKeyBookCategory:bookCategoryReverse | filter:q | itemsPerPage: pageSizeBookCategory "
				current-page="currentPageBookCategory" pagination-id="bookCategory"
				ng-class="bookCategory.id==bookCategoryId?'info' : ''">
				<td><div class="">
						<a href=""
							ng-click="setShowEditBookCategoryForm(bookCategory.id);"><i
							class=" glyphicon glyphicon-pencil" data-toggle="tooltip"
							data-placement="bottom" title="Edit"><i></a>
					</div></td>
				<td><a href="" ng-click="setBookCategory(bookCategory)"><span
						once-text="bookCategory.bookCategory"></span></a></td>
				<td><span once-text="bookCategory.firm.firm"></span></td>

				<!--   <td><img src ="{{imgURLBookCategory}}{{bookCategory.id}}" style="max-height:120px;max-width=100%;object-fit: contain"  width="100%"></td> -->
			</tr>
		</tbody>
	</table>

	<div style="padding-top: 0px; margin-top: 10px">
		<dir-pagination-controls boundary-links="true"
			on-page-change="pageChangeHandler(newPageNumber)"
			style="margin:0px;padding:0px"
			template-url="templates/dirPagination.tpl.html"
			pagination-id="bookCategory"></dir-pagination-controls>
	</div>

</div>

<div ng-if="showBookCategoryForm" class="col-lg-12"
	style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;">
	<form id="BookCategoryAdd" class="smart-form">

		<h5 class="menubar">

			{{buttonTextBookCategory}} BookCategory


			<div class="pull-right" style="margin-right: 10px">


				<a href="" ng-click="hideBookCategoryEditForm(bookCategory.id);"><i
					class=" fa fa-close" data-toggle="tooltip" data-placement="bottom"
					title="Add"></i></a>

			</div>

		</h5>


		<fieldset style="background: transparent;">


			<div class="row">
				<section>
					<label class="label">BookCategory: </label> <label class="input">
						<input type="<textformat>" class="form-control"
						ng-model="bookCategory.bookCategory" id="bookCategory">
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">Firm: </label> <label class="select">
						<select ng-model="bookCategory.firm.id"
						ng-options="firm.id as (firm.firm) for firm in firms">
							<option></option>
					</select> <i></i>
					</label>
				</section>
			</div>
			<!--
  <div class="row">
        <section>
        <label class="label">Image: </label>
        <label class="input">
        <input class="btn " type = "file" imagemodel = "myFile"  /></label>
        </section>
        </div> -->

		</fieldset>

		<div>
			<button type="button" class="btn btn-primary"
				ng-click="saveBookCategory(bookCategory);">Save</button>
			<button type="button" class="btn btn-default"
				ng-click="hideBookCategoryEditForm(bookCategory.id);">Close</button>
		</div>
	</form>
</div>
</div>