<div class="col-lg-12" ng-if="showLendingList"
	style="margin-bottom: 20px;">

	<h5 class="menubar">

		Lending List




		<div class="pull-right" style="margin-right: 10px">


			<a href="" ng-click="setShowAddLendingForm();"><i
				class=" fa fa-plus" data-toggle="tooltip" data-placement="bottom"
				title="Add"></i></a> <a href="" ng-click="hideLendingList();"><i
				class=" fa fa-close" data-toggle="tooltip" data-placement="bottom"
				title="Add"></i></a>




		</div>

	</h5>
	<!--
                    <div class="row" style ="padding-bottom: 5px">

                      <form  class="smart-form">
                      <fieldset>

                       <div class="row">
                       <section class="col col-6">
                         <label class="label">Search: </label>
                         <label class="input">
                         <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                       </section>

                       <section class="col col-6">
                         <label class="label">Items per page: </label>
                         <label class="input">
                         <input type="number" min="1" max="100" class="form-control" ng-model="pageSizeLending">
                       </section>
                     </div>
                     </fieldset>
                   </form>


                </div>
    -->
	<table class="table  table-hover"
		style="margin-top: 10px; padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px;">
		<thead>
			<tr>
				<th></th>
				<th><a href=""
					ng-click="sortLending('lendingDate',lendingReverse)">
						LendingDate <span class="glyphicon sort-icon"
						ng-show="sortKeyLending=='lendingDate'"
						ng-class="{'glyphicon-chevron-up':lendingReverse,'glyphicon-chevron-down':!lendingReverse}"></span></th>
				<th><a href=""
					ng-click="sortLending('plannedReturnDate',lendingReverse)">
						PlannedReturnDate <span class="glyphicon sort-icon"
						ng-show="sortKeyLending=='plannedReturnDate'"
						ng-class="{'glyphicon-chevron-up':lendingReverse,'glyphicon-chevron-down':!lendingReverse}"></span></th>
				<th><a href=""
					ng-click="sortLending('actualReturnDate',lendingReverse)">
						ActualReturnDate <span class="glyphicon sort-icon"
						ng-show="sortKeyLending=='actualReturnDate'"
						ng-class="{'glyphicon-chevron-up':lendingReverse,'glyphicon-chevron-down':!lendingReverse}"></span></th>
				<th><a href="" ng-click="sortLending('isLost',lendingReverse)">
						IsLost <span class="glyphicon sort-icon"
						ng-show="sortKeyLending=='isLost'"
						ng-class="{'glyphicon-chevron-up':lendingReverse,'glyphicon-chevron-down':!lendingReverse}"></span></th>
				<th><a href=""
					ng-click="sortLending('isDamaged',lendingReverse)"> IsDamaged <span
						class="glyphicon sort-icon" ng-show="sortKeyLending=='isDamaged'"
						ng-class="{'glyphicon-chevron-up':lendingReverse,'glyphicon-chevron-down':!lendingReverse}"></span></th>
				<th><a href=""
					ng-click="sortLending('damageDescription',lendingReverse)">
						DamageDescription <span class="glyphicon sort-icon"
						ng-show="sortKeyLending=='damageDescription'"
						ng-class="{'glyphicon-chevron-up':lendingReverse,'glyphicon-chevron-down':!lendingReverse}"></span></th>
				<th><a href=""
					ng-click="sortLending('book.title',lendingReverse)"> Title <span
						class="glyphicon sort-icon" ng-show="sortKeyLending=='book.title'"
						ng-class="{'glyphicon-chevron-up':lendingReverse,'glyphicon-chevron-down':!lendingReverse}"></span></th>
				<th><a href=""
					ng-click="sortLending('lawyer.lawyer',lendingReverse)"> Lawyer
						<span class="glyphicon sort-icon"
						ng-show="sortKeyLending=='lawyer.lawyer'"
						ng-class="{'glyphicon-chevron-up':lendingReverse,'glyphicon-chevron-down':!lendingReverse}"></span></th>
				<th><a href=""
					ng-click="sortLending('libraraian.librarian',lendingReverse)">
						Librarian <span class="glyphicon sort-icon"
						ng-show="sortKeyLending=='libraraian.librarian'"
						ng-class="{'glyphicon-chevron-up':lendingReverse,'glyphicon-chevron-down':!lendingReverse}"></span></th>
				<!-- <th>Image</th> -->
			</tr>
		</thead>

		<thead>

			</tr>
		</thead>

		<tbody>
			<tr
				dir-paginate="lending in lendings| orderBy:sortKeyLending:lendingReverse | filter:q | itemsPerPage: pageSizeLending "
				current-page="currentPageLending" pagination-id="lending"
				ng-class="lending.id==lendingId?'info' : ''">
				<td><div class="">
						<a href="" ng-click="setShowEditLendingForm(lending.id);"><i
							class=" glyphicon glyphicon-pencil" data-toggle="tooltip"
							data-placement="bottom" title="Edit"><i></a>
					</div></td>
				<td><a href="" ng-click="setLending(lending)"><span
						once-text="lending.lendingDate| date:'medium'"></span></a></td>
				<td><a href="" ng-click="setLending(lending)"><span
						once-text="lending.plannedReturnDate| date:'medium'"></span></a></td>
				<td><a href="" ng-click="setLending(lending)"><span
						once-text="lending.actualReturnDate| date:'medium'"></span></a></td>
				<td><a href="" ng-click="setLending(lending)"><span
						once-text="lending.isLost"></span></a></td>
				<td><a href="" ng-click="setLending(lending)"><span
						once-text="lending.isDamaged"></span></a></td>
				<td><a href="" ng-click="setLending(lending)"><span
						once-text="lending.damageDescription"></span></a></td>
				<td><span once-text="lending.book.title"></span></td>
				<td><span once-text="lending.lawyer.lawyer"></span></td>
				<td><span once-text="lending.libraraian.librarian"></span></td>

				<!--   <td><img src ="{{imgURLLending}}{{lending.id}}" style="max-height:120px;max-width=100%;object-fit: contain"  width="100%"></td> -->
			</tr>
		</tbody>
	</table>

	<div style="padding-top: 0px; margin-top: 10px">
		<dir-pagination-controls boundary-links="true"
			on-page-change="pageChangeHandler(newPageNumber)"
			style="margin:0px;padding:0px"
			template-url="templates/dirPagination.tpl.html"
			pagination-id="lending"></dir-pagination-controls>
	</div>

</div>

<div ng-if="showLendingForm" class="col-lg-12"
	style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;">
	<form id="LendingAdd" class="smart-form">

		<h5 class="menubar">

			{{buttonTextLending}} Lending


			<div class="pull-right" style="margin-right: 10px">


				<a href="" ng-click="hideLendingEditForm(lending.id);"><i
					class=" fa fa-close" data-toggle="tooltip" data-placement="bottom"
					title="Add"></i></a>

			</div>

		</h5>


		<fieldset style="background: transparent;">


			<div class="row">
				<section>
					<label class="label">LendingDate: </label> <label class="input">
						<input type="date" class="form-control"
						ng-model="lending.lendingDate" id="lendingDate">
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">PlannedReturnDate: </label> <label
						class="input"> <input type="date" class="form-control"
						ng-model="lending.plannedReturnDate" id="plannedReturnDate"></label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">ActualReturnDate: </label> <label
						class="input"> <input type="date" class="form-control"
						ng-model="lending.actualReturnDate" id="actualReturnDate"></label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">IsLost: </label> <label class="input">
						<input type="<textformat>" class="form-control"
						ng-model="lending.isLost" id="isLost">
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">IsDamaged: </label> <label class="input">
						<input type="<textformat>" class="form-control"
						ng-model="lending.isDamaged" id="isDamaged">
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">DamageDescription: </label> <label
						class="input"> <input type="<textformat>"
						class="form-control" ng-model="lending.damageDescription"
						id="damageDescription"></label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">Book: </label> <label class="select">
						<select ng-model="lending.book.id"
						ng-options="book.id as (book.title) for book in books">
							<option></option>
					</select> <i></i>
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">Lawyer: </label> <label class="select">
						<select ng-model="lending.lawyer.id"
						ng-options="identity.id as (identity.lawyer) for identity in identitys">
							<option></option>
					</select> <i></i>
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">Libraraian: </label> <label class="select">
						<select ng-model="lending.libraraian.id"
						ng-options="identity.id as (identity.librarian) for identity in identitys">
							<option></option>
					</select> <i></i>
					</label>
				</section>
			</div>
			<!--
  <div class="row">
        <section>
        <label class="label">Image: </label>
        <label class="input">
        <input class="btn " type = "file" imagemodel = "myFile"  /></label>
        </section>
        </div> -->

		</fieldset>

		<div>
			<button type="button" class="btn btn-primary"
				ng-click="saveLending(lending);">Save</button>
			<button type="button" class="btn btn-default"
				ng-click="hideLendingEditForm(lending.id);">Close</button>
		</div>
	</form>
</div>
</div>