<section id="widget-grid" class="">
	<div class="row" style="height: 200px"></div>

	<!-- row -->
	<div class="row" ng-if="showLoginForm">
		<!-- NEW WIDGET START -->
		<article class="col-xs-4"></article>
		<article class="col-xs-4">
			<!-- Widget ID (each widget will need unique ID)-->
			<p align=right>
			<div class="jarviswidget" id="wid-id-210"
				data-widget-colorbutton="false" data-widget-editbutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-togglebutton="false" data-widget-deletebutton="false">
				<!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

          -->
				<!-- widget div-->
				<div>
					<!-- widget content -->
					<div class="widget-body">
						<form role="form">
							<fieldset>
								<div class="form-group">
									<input class="form-control" ng-model="user.login"
										placeholder="email" autofocus type=email>
								</div>
								<div class="form-group">
									<input class="form-control" ng-model="user.password"
										placeholder="Password" name="password" type="password"
										value="">
								</div>

								<div class="form-group">
									<input class="form-control" ng-model="confirmPassword"
										placeholder="Cofirm Password" name="password" type="password"
										value="" ng-if="registerMode">
								</div>

								<div class="row" ng-if="!registerMode">
									<div class="col-sm-3"></div>
									<div class="col-sm-6">
										<!-- Change this to a button or input when using this as a form -->
										<button class="btn btn-md btn-primary btn-block shadow"
											ng-click="userLogin()">Login</button>
									</div>
									<!--<div class="col-sm-6">
                            <button class="btn btn-md btn-default btn-block shadow" ng-click="register()">Register</button>
                        </div> -->
								</div>

								<div class="row" ng-if="registerMode">
									<div class="col-sm-6">
										<!-- Change this to a button or input when using this as a form -->
										<button class="btn btn-md btn-primary btn-block shadow"
											ng-click="saveUser();">Register</button>
									</div>
									<div class="col-sm-6">
										<button class="btn btn-md btn-default btn-block shadow"
											ng-click="setLogin()">Cancel</button>
									</div>
								</div>



							</fieldset>
						</form>

					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
			</p>
		</article>
		<!-- WIDGET END -->
	</div>
</section>


<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-4"></article>
		<article class="col-xs-4">
			<!-- Widget ID (each widget will need unique ID)-->
			<p align=right>
			<div class="jarviswidget" id="wid-id-210"
				data-widget-colorbutton="false" data-widget-editbutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-togglebutton="false" data-widget-deletebutton="false">
				<!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

          -->
				<!-- widget div-->
				<div ng-if="showPersonForm">
					<!-- widget content -->
					<div class="widget-body">
						<form role="form">
							<fieldset>
								<div class="form-group">
									<input class="form-control" ng-model="person.firstName"
										placeholder="First Name">
								</div>

								<div class="form-group">
									<input class="form-control" ng-model="person.lastName"
										placeholder="Last Name">
								</div>

								<div class="form-group">
									<input class="form-control" ng-model="person.email"
										placeholder="Email">
								</div>

								<div class="form-group">
									<input class="form-control" ng-model="person.phone"
										placeholder="Phone">
								</div>




								<!-- Change this to a button or input when using this as a form -->
								<button class="btn btn-md btn-primary btn-block shadow"
									ng-click="savePerson()">Save</button>




							</fieldset>
						</form>

					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
			</p>
		</article>
		<!-- WIDGET END -->
	</div>
</section>