
<div class="row"
	style="margin-left: 20px; margin-bottom: 20px; margin-top: 40px; margin-right: 25px;">

	</br>
	<div class="row">
		<div class="col-lg-10"></div>
		<div class="col-lg-2">
			<a href="index.html#!/Setup"><i class=" fa fa-cog"
				data-toggle="tooltip" data-placement="bottom" title="Add"></i> Setup
				page</a>
		</div>

	</div>


	<!--<div class="col-lg-2" ng-if="showLendingLeftNav" ng-include="'templates/Lending/LendingLeftNav.html'" ></div> -->



	<div class="col-lg-12" ng-if="showWorkspace"
		ng-include="'templates/Lending/WorkSpace.html'"
		style="margin-top: 20px"></div>



</div>


