<!-- The upload page-->
<div ng-if="showForm">

<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form>
            <input class="btn" style = "border: 1px solid #555;" type = "file" imagemodel = "myFile"  />
 
            <p style="text-align: right; margin-top: 20px;">
                <input type="submit" value="Upload File" class="btn btn-lg btn-primary" ng-click="uploadImage(imageSrc)"/>
            </p>

        </form>
  
        


    </div>
    <div class="col-md-4"></div>
</div>
</div><!--End Workspace-->

