<div id="page-wrapper" ng-controller="HomePageCtrl"
	style="margin-top: 30px;">


	<!-- RIBBON -->
	<div id="ribbon">
		<!-- breadcrumb -->
		<ol class="breadcrumb">
			<li>Home</li>
		</ol>
		<!-- collapse menu button -->



		<div id="chooseProject" class="btn transparent pull-right">
			<form class="smart-form">
				<fieldset style="margin: 0px; padding: 0px">
					<section style="margin: 0px; padding: 0px">
						<label class="select"> <select class="form-control"
							ng-model="entityName" id="entityName"
							ng-change="setEntity(entityName)">
								<option value="Person">Person</option>
								<option value="Identity">Identity</option>
								<option value="IdentityType">IdentityType</option>
								<option value="Librarian">Librarian</option>
								<option value="Lawyer">Lawyer</option>
								<option value="BookCategory">BookCategory</option>
								<option value="BookSubCategory">BookSubCategory</option>
								<option value="BookCategoryLabels">BookCategoryLabels</option>
								<option value="LendingType">LendingType</option>
								<option value="MembershipType">MembershipType</option>
								<option value="Firm">Firm</option>
								<option value="Department">Department</option>
								<option value="Book">Book</option>
								<option value="Author">Author</option>
								<option value="BookAuthor">BookAuthor</option>
								<option value="Lending">Lending</option>
								<option value="Branch">Branch</option>
						</select><i></i>
						</label>
					</section>
				</fieldset>
			</form>
		</div>

	</div>
	<!-- END RIBBON -->

	<div class="row"
		style="margin-top: 4.5%; margin-left: 2%; margin-bottom: 0px;">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<div class="row" style="margin-top: 100px;"></div>
			<div class="row" ng-if="showPersonList"
				ng-include="'templates/Person.html'" ng-controller="PersonCtrl"></div>
			<div class="row" ng-if="showIdentityList"
				ng-include="'templates/Identity.html'" ng-controller="IdentityCtrl"></div>
			<div class="row" ng-if="showIdentityTypeList"
				ng-include="'templates/IdentityType.html'"
				ng-controller="IdentityTypeCtrl"></div>
			<div class="row" ng-if="showLibrarianList"
				ng-include="'templates/Librarian.html'"
				ng-controller="LibrarianCtrl"></div>
			<div class="row" ng-if="showLawyerList"
				ng-include="'templates/Lawyer.html'" ng-controller="LawyerCtrl"></div>
			<div class="row" ng-if="showBookCategoryList"
				ng-include="'templates/BookCategory.html'"
				ng-controller="BookCategoryCtrl"></div>
			<div class="row" ng-if="showBookSubCategoryList"
				ng-include="'templates/BookSubCategory.html'"
				ng-controller="BookSubCategoryCtrl"></div>
			<div class="row" ng-if="showBookCategoryLabelsList"
				ng-include="'templates/BookCategoryLabels.html'"
				ng-controller="BookCategoryLabelsCtrl"></div>
			<div class="row" ng-if="showLendingTypeList"
				ng-include="'templates/LendingType.html'"
				ng-controller="LendingTypeCtrl"></div>
			<div class="row" ng-if="showMembershipTypeList"
				ng-include="'templates/MembershipType.html'"
				ng-controller="MembershipTypeCtrl"></div>
			<div class="row" ng-if="showFirmList"
				ng-include="'templates/Firm.html'" ng-controller="FirmCtrl"></div>
			<div class="row" ng-if="showDepartmentList"
				ng-include="'templates/Department.html'"
				ng-controller="DepartmentCtrl"></div>
			<div class="row" ng-if="showBookList"
				ng-include="'templates/Book.html'" ng-controller="BookCtrl"></div>
			<div class="row" ng-if="showAuthorList"
				ng-include="'templates/Author.html'" ng-controller="AuthorCtrl"></div>
			<div class="row" ng-if="showBookAuthorList"
				ng-include="'templates/BookAuthor.html'"
				ng-controller="BookAuthorCtrl"></div>
			<div class="row" ng-if="showLendingList"
				ng-include="'templates/Lending.html'" ng-controller="LendingCtrl"></div>
			<div class="row" ng-if="showBranchList"
				ng-include="'templates/Branch.html'" ng-controller="BranchCtrl"></div>
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>
<!-- /#wrapper -->