<div class="col-lg-12" ng-if="showPersonList"
	style="margin-bottom: 20px;">

	<h5 class="menubar">

		Person List




		<div class="pull-right" style="margin-right: 10px">


			<a href="" ng-click="setShowAddPersonForm();"><i
				class=" fa fa-plus" data-toggle="tooltip" data-placement="bottom"
				title="Add"></i></a> <a href="" ng-click="hidePersonList();"><i
				class=" fa fa-close" data-toggle="tooltip" data-placement="bottom"
				title="Add"></i></a>




		</div>

	</h5>
	<!--
                    <div class="row" style ="padding-bottom: 5px">

                      <form  class="smart-form">
                      <fieldset>

                       <div class="row">
                       <section class="col col-6">
                         <label class="label">Search: </label>
                         <label class="input">
                         <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                       </section>

                       <section class="col col-6">
                         <label class="label">Items per page: </label>
                         <label class="input">
                         <input type="number" min="1" max="100" class="form-control" ng-model="pageSizePerson">
                       </section>
                     </div>
                     </fieldset>
                   </form>


                </div>
-->
	<table class="table  table-hover"
		style="margin-top: 10px; padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px;">
		<thead>
			<tr>
				<th></th>
				<th><a href="" ng-click="sortPerson('firstName',personReverse)">
						FirstName <span class="glyphicon sort-icon"
						ng-show="sortKeyPerson=='firstName'"
						ng-class="{'glyphicon-chevron-up':personReverse,'glyphicon-chevron-down':!personReverse}"></span></th>
				<th><a href="" ng-click="sortPerson('lastName',personReverse)">
						LastName <span class="glyphicon sort-icon"
						ng-show="sortKeyPerson=='lastName'"
						ng-class="{'glyphicon-chevron-up':personReverse,'glyphicon-chevron-down':!personReverse}"></span></th>
				<th><a href="" ng-click="sortPerson('email',personReverse)">
						Email <span class="glyphicon sort-icon"
						ng-show="sortKeyPerson=='email'"
						ng-class="{'glyphicon-chevron-up':personReverse,'glyphicon-chevron-down':!personReverse}"></span></th>
				<th><a href="" ng-click="sortPerson('phone',personReverse)">
						Phone <span class="glyphicon sort-icon"
						ng-show="sortKeyPerson=='phone'"
						ng-class="{'glyphicon-chevron-up':personReverse,'glyphicon-chevron-down':!personReverse}"></span></th>
				<th><a href="" ng-click="sortPerson('firm.firm',personReverse)">
						Firm <span class="glyphicon sort-icon"
						ng-show="sortKeyPerson=='firm.firm'"
						ng-class="{'glyphicon-chevron-up':personReverse,'glyphicon-chevron-down':!personReverse}"></span></th>
				<!-- <th>Image</th> -->
			</tr>
		</thead>

		<thead>

			</tr>
		</thead>

		<tbody>
			<tr
				dir-paginate="person in persons| orderBy:sortKeyPerson:personReverse | filter:q | itemsPerPage: pageSizePerson "
				current-page="currentPagePerson" pagination-id="person"
				ng-class="person.id==personId?'info' : ''">
				<td><div class="">
						<a href="" ng-click="setShowEditPersonForm(person.id);"><i
							class=" glyphicon glyphicon-pencil" data-toggle="tooltip"
							data-placement="bottom" title="Edit"><i></a>
					</div></td>
				<td><a href="" ng-click="setPerson(person)"><span
						once-text="person.firstName"></span></a></td>
				<td><a href="" ng-click="setPerson(person)"><span
						once-text="person.lastName"></span></a></td>
				<td><a href="" ng-click="setPerson(person)"><span
						once-text="person.email"></span></a></td>
				<td><a href="" ng-click="setPerson(person)"><span
						once-text="person.phone"></span></a></td>
				<td><span once-text="person.firm.firm"></span></td>

				<!--   <td><img src ="{{imgURLPerson}}{{person.id}}" style="max-height:120px;max-width=100%;object-fit: contain"  width="100%"></td> -->
			</tr>
		</tbody>
	</table>

	<div style="padding-top: 0px; margin-top: 10px">
		<dir-pagination-controls boundary-links="true"
			on-page-change="pageChangeHandler(newPageNumber)"
			style="margin:0px;padding:0px"
			template-url="templates/dirPagination.tpl.html"
			pagination-id="person"></dir-pagination-controls>
	</div>

</div>

<div ng-if="showPersonForm" class="col-lg-12"
	style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;">
	<form id="PersonAdd" class="smart-form">

		<h5 class="menubar">

			{{buttonTextPerson}} Person


			<div class="pull-right" style="margin-right: 10px">


				<a href="" ng-click="hidePersonEditForm(person.id);"><i
					class=" fa fa-close" data-toggle="tooltip" data-placement="bottom"
					title="Add"></i></a>

			</div>

		</h5>


		<fieldset style="background: transparent;">


			<div class="row">
				<section>
					<label class="label">FirstName: </label> <label class="input">
						<input type="<textformat>" class="form-control"
						ng-model="person.firstName" id="firstName">
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">LastName: </label> <label class="input">
						<input type="<textformat>" class="form-control"
						ng-model="person.lastName" id="lastName">
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">Email: </label> <label class="input">
						<input type="<textformat>" class="form-control"
						ng-model="person.email" id="email">
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">Phone: </label> <label class="input">
						<input type="<textformat>" class="form-control"
						ng-model="person.phone" id="phone">
					</label>
				</section>
			</div>
			<div class="row">
				<section>
					<label class="label">Firm: </label> <label class="select">
						<select ng-model="person.firm.id"
						ng-options="firm.id as (firm.firm) for firm in firms">
							<option></option>
					</select> <i></i>
					</label>
				</section>
			</div>
			<!--
  <div class="row">
        <section>
        <label class="label">Image: </label>
        <label class="input">
        <input class="btn " type = "file" imagemodel = "myFile"  /></label>
        </section>
        </div> -->

		</fieldset>

		<div>
			<button type="button" class="btn btn-primary"
				ng-click="savePerson(person);">Save</button>
			<button type="button" class="btn btn-default"
				ng-click="hidePersonEditForm(person.id);">Close</button>
		</div>
	</form>
</div>
</div>